/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --heading-font-family: 'Karla', sans-serif;
  --main-font-color: #1971c2;
  --font-weight-300: 300;
  --font-weight-500: 500;
}

body {
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-300);
  margin: 0 auto;
}

.intro-section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 10rem 3.8rem;
  padding-right: 37rem;
  font-size: 2.6rem;
  height: 100vh;
}

.intro-description {
  max-width: 70rem;
}

.name {
  font-weight: var(--font-weight-500);
}

.intro-contact {
  font-size: 1.8rem;
}

.highlight-email {
  text-decoration: none;
  color: inherit;
  border-left: 2px solid var(--main-font-color);
  background: linear-gradient(to left, white 50%, var(--main-font-color) 50%)
    right;
  background-size: 200%;
  transition: 0.3s ease-in-out;
}

.highlight-email:hover {
  background-position: left;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.title {
  display: grid;
  justify-content: end;
  font-size: 1.3rem;
  margin-right: 1.5rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-500);
  color: var(--main-font-color);
}

.background-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  max-width: 55rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.skills-section {
  margin: 9.8rem 0;
}

.skills-content {
  display: flex;
  gap: 9rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.list-title {
  text-transform: uppercase;
  font-weight: var(--font-weight-500);
  font-size: 1.2rem;
}

.projects-section {
  margin: 9.8rem 0;
  padding: 9.8rem 0;
}

.projects-content {
  position: relative;
}

.sliders {
  max-width: 53rem;
  height: 25rem;
  margin-left: 5rem;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 1.4rem;
  position: absolute;
  transition: transform 0.5s ease;
  padding-bottom: 3rem;
}

.img-slider > img {
  display: block;
}

.slider-content {
  padding-right: 3rem;
}

.slider-header {
  font-size: 1.2rem;
}

.btn-slider-up,
.btn-slider-down {
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-slider-up {
  top: -15%;
}

.btn-slider-down {
  bottom: -15%;
}

/* .slider-component[data-icon='up-arrow']::before {
  content: '';
  background-image: url(./imgs/arrow-up-outline.svg);
  position: absolute;
  top: -135px;
  left: 480px;
  width: 55px;
  height: 55px;
}

.slider-component[data-icon='up-arrow']::after {
  content: '';
  background-image: url(./imgs/arrow-down-outline.svg);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55px;
  height: 55px;
} */

.slider-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.slider-description {
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.2rem;
}

.footer-descr {
  font-weight: var(--font-weight-500);
}

.social-links {
  display: flex;
  list-style-type: none;
  gap: 3.2rem;
  padding-right: 14rem;
  text-transform: uppercase;
  /* color: var(--main-font-color); */
  font-weight: var(--font-weight-500);
}

.link {
  color: var(--main-font-color);
  position: relative;
  text-decoration: none;
}

.link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--main-font-color);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
